# Dependencies
node_modules
.pnp
.pnp.js

# Build artifacts
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.env
.env.local
.env.*.local
.cache
.parcel-cache
.tmp
.eslintcache

# TypeScript
*.tsbuildinfo
